<h1>Exhibitions</h1>

<h3>Exhibition 1: DigitalDreams: Art in the Age of Algorithms</h3>
<p>Join us for an immersive journey into the world of digital art and technology. Through interactive displays and cutting-edge installations, you'll experience the fusion of creativity and innovation.</p>

<h3>Exhibition 2: CodeCanvas: The Language of Creative Technology</h3>
<p>Code & Canvas highlights the ways programming has become a medium for 
    artistic creation. Featuring works by digital artists and designers, the exhibition showcases
    installations, projections, and interactive pieces that reveal how lines of code can trasnform
    into immersive visual experiences.
</p>