<h1>Buy Tickets</h1>
<table>
    <tr>
        <th>Ticket Type</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    <tr>
        <th>Adult</th>
        <th>$18</th>
        <th>General admission for ages 18 and over. Under 18 free of charge.</th>
    </tr>
    <tr>
        <th>Student</th>
        <th>$10</th>
        <th>Student ID required for purchase.</th>
    </tr>
    <tr>
        <th>Member</th>
        <th>$15</th>
        <th>Member ID required.</th>
    </tr>
</table>
